.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.linkki {
  color: #E2FAF0;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #05C154;
  color: black;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.navigaatio {
  background-color: #024C21;
  margin: auto;
  padding: 10px;
}

.etusivu {
}

.video-responsive {
  margin: auto;
  width: 60%;
  height: 250px;
  text-align: center;
  float: right;
}

.Tabs {
  height: auto;
  min-height: 400px;
  margin: auto;
  margin: 30px;
  color: #E8F0F2;
  border-top: 5px solid #525E57;
  @media (max-width: 769px) {
   padding: 2rem 0;
  }
 }

 ul.tabnav {
  /*width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  border-radius: 2rem;
  background-color: #E2F2CC;
  align-items: center;*/
  justify-content: space-between;
  padding-left: 0px;
  padding-bottom: 25px;
  @media (max-width: 768px) {
    width: 90%;
  }
}
ul.tabnav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  color:black;
}
/*ul.tabnav li:first-child {
  border-bottom-left-radius: 0;
  /*border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
 
ul.tabnav li:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}*/
ul.tabnav li:hover {
  background: #C3E1D0;
}
ul.tabnav li.active {
  background: #525E57;
  color: white;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.ekaTab p,
.tokaTab p,
.kolmasTab p {
  font-size: 2rem;
  text-align: center;
  color: black;
}

.esittely {
  color: black;
  margin: 10px 0 10px 0;
  padding: 1em;
}

.pontonSisalto {

}

.esittelyteksti {
  padding: 20px;
}

.esittelyteksti p {
  color: black;
}

.laitteisto {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.laitteisto a {
  text-decoration: none;
  color: #024C21;
}

.laitteisto div {
  width: 33%;
  height: 300px;
  padding: 30px;
}

.esittelyteksti img {
  width: 200px;
  height: auto;
  vertical-align: text-top;
  margin: 20px;
}

.ekaTab,
.tokaTab,
.kolmasTab {
  width: 80%;
  margin: auto;
}

.ponttodata {
  color: black;
  text-align: center;
  width: 30%;
  margin: auto;
  background-color:#C3E1D0 ;
  padding: 20px;
  float: left;
  height: 210px;
}

.dataNimi {
  padding-top: 10px;
  padding-bottom: 10px;
}

.data {
}
