.Header {
  display: flex;
  padding: 1em;
  background-color: #024C21;
}

h1 {
    vertical-align: middle;
    margin-bottom: 0;
    color: white;
}

img {
    height: 60px;
    margin: 10px;
}

p {
    margin: 0;
    color: white;
}